<!--  list all of this user's birds
...make each one clickable, goes to details page for that bird
...make into html table eventually, or "cards"
-->
<nav>
    <div class="nav-wrapper green darken-3">
        <a href="/" class="brand-logo">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">home</a></li>
            <li><a href="/userhome/profile">profile</a></li>
        </ul>
    </div>
</nav>
<h2>Welcome back, {{user.username}}</h2>
<h3>Your bird list:</h3>
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add a bird!</a>
<!-- <div class='container'> -->
    <div class="row">
        {{#each birds}}
            <div class="card small col m3">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{this.image_url}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 ">{{this.name}}<i class="material-icons right ">more_vert</i></span>
                    <!-- <p><a href="/userhome/{{../id}}/detail/{{this.birdID}}">Details</a></p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 ">{{this.name}}<i class="material-icons right ">close</i></span>
                    <p>location:{{this.location}}</p>
                    <p><a href="/userhome/{{../id}}/detail/{{this.birdID}}">Details</a></p>
                </div>
            </div>
        {{/each}}
    </div>
<!-- </div> -->
</ul>
<!-- form for adding a new bird -->
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add a bird!</a>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <form id="addBird" class='col-m6 offset-s6' action="/add/{{id}}" method="post">
            <div class='input-field'>
                <label for="name">name</label>
                <input type="text" id="name" name="name">
            </div>
            <div class='input-field'>
                <label for='image'>image url</label>
                <input type="url" name="image_url">
            </div>
            <div class='input-field'>
                <label for="location">location</label>
                <input type="text" id="location" name="location">
            </div>
            <div class='input-field'>
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <input type="hidden" name="user_id" value="{{id}}">
            <div class='input-field'>
                <label for="date">Sighting date</label>
                <input type="date" class="datepicker">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect waves-light" form="addBird" type="submit" name="button">submit<i class="material-icons right">send</i></button>
    </div>
</div>
<!-- </div>
</div> -->
